# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio specific files
*.obj
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.lib
*.sbr
*.sdf
*.pyc
*.xml
*.docstates
*.dotCover
[Tt]humbs.db
*.dbmdl
_ReSharper*/
*.resharper
*.resharper.user
*.vspscc
*.vssscc
.builds

# Rider specific files
.idea/
*.sln.iml

# Logs
*.log

# Exclude bin and obj directories
[Bb]in/
[Oo]bj/

# Exclude coverage results
coverage/

# Other
.vscode/
*.vs/
*.vscode/
*.vsidx/
*.manifest
*.v2
*.png
*.jpg
*.jpeg