@model RegisterViewModel

<link rel="stylesheet"  href="~/css/LoginSiteStyle.css"/>
<div class="login">
<h1>Register</h1>
<form asp-controller="Account" asp-action="Register" method="post">

		<input type="text" placeholder="Login" asp-for="Login"/>
		<span asp-validation-for="Login" class="text-danger"></span>

		<input type="text" placeholder="Name" asp-for="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>

		<input type="email" placeholder="Email" asp-for="Email"/>
		<span asp-validation-for="Email" class="text-danger"></span>

		<input type="password" placeholder="Password" asp-for="Password" />
		<span asp-validation-for="Password" class="text-danger"></span>

		<input type="password" placeholder="Confirm Password" asp-for="ConfirmPassword" />
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

		<span class="text-danger">@ViewBag.ErrorMessage</span>
		<button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
</form>
</div>

